@charset "ISO-8859-1";

h1 {
	color: red;
}

td {
	padding: 20px;
}

.btn-kenny {
    font-weight: 500;
    color: #000000;
    background: #F6B893;
}

a {
    color: black;
}

a:hover {
    color: #7B4600;
}